.clients {
	margin: 3rem 0;
	width: 100%;
}

.clients p {
	margin-bottom: 2rem;
	text-align: center;
}

.client-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.client-list .client-list-img {
	display: grid;
	place-items: center;
}

.client-list .client-list-img img {
	width: 50%;
	margin: 0 auto;
}

@media screen and (max-width: 768px) {
	.client-list {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 2rem;
	}
}
