.header {
	position: relative;
}

.header .container-lg {
	display: flex;
	align-items: center;
}

.header .backline {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}

.header .backline img {
	width: 100%;
	object-fit: cover;
}

.header-info {
	padding-top: 5rem;
	flex: 4;
}
.header-img {
	flex: 6;
}
.header-details {
	flex: 2;
}

.header-info img {
	width: 50%;
}

.header-info h1 {
	font-size: 4rem;
}

.header-info p {
	width: 70%;
	margin: 1rem 0;
}

.header-info .buttons {
	display: flex;
	gap: 2rem;
	align-items: center;
	margin-bottom: 1rem;
}

.header-info .buttons img {
	width: 30%;
	cursor: pointer;
}

.header-img img {
	width: 90%;
}

.header-details .details {
	background-color: var(--color-primary-variant-light);
	padding: 2rem;
	border-radius: 1rem;
}

.header-details .details span {
	display: block;
}

.header-details .details .price {
	margin: 0.6rem 0 2rem;
}

.header-details-size {
	font-family: "Tiro Devanagari Sanskrit", serif;
	font-size: 0.7rem;
}

.header-details .details .group-btn {
	margin-top: 1rem;
	display: flex;
	width: max-content;
	border-radius: 2rem;
	border: 0.1rem solid black;
	background-color: rgb(247, 236, 239);
}

.header-details .details .group-btn span {
	padding: 0.5rem 1rem;
	cursor: pointer;
	transition: 500ms all ease;
}

.header-details .details .group-btn span:hover {
	font-size: 1.05rem;
}

.header-details .details .group-btn span:first-child {
	border-right: 1px solid black;
}

@media screen and (max-width: 1024px) {
	.header-info h1 {
		font-size: 3rem;
	}
	.header-info .buttons img {
		width: 40%;
		cursor: pointer;
	}
}

@media screen and (max-width: 768px) {
	.header .backline {
		display: none;
	}

	.header-info {
		text-align: center;
		display: grid;
		place-items: center;
	}

	.header-info h1 {
		font-size: 2rem;
	}

	.header-img {
		width: 100%;
		display: grid;
		place-items: center;
	}

	.header-img img {
		width: 50%;
	}
	.header-info {
		padding-top: 1rem;
	}
	.header-details {
		display: none;
	}
	.header .container-lg {
		display: flex;
		align-items: center;
		flex-direction: column;
	}
}
