* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--color-bg: #e5e5e5;
	--color-primary: #b91122;
	--color-primary-variant: #ffdad7;
	--color-black: #000000;
	--color-white: #ffffff;
}

body {
	background: var(--color-bg);
	font-family: "Rubik", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Tiro Devanagari Sanskrit", serif;
}

p,
a,
li,
span {
	font-family: "Rubik", sans-serif;
}

/* 
font-family: 'Rubik', sans-serif;
font-family: 'Tiro Devanagari Sanskrit', serif;
*/
